<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="wrapper">
    <!-- Header with Background Image -->
    <header class="hero is-dark header-bg">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">CMS</h1>
          <nav class="navbar">
            <div class="navbar-menu">
              <div class="navbar-start">
                <a href="/" class="navbar-item">Homepage</a>
              </div>
              <div class="navbar-end">
                {{#if loggedIn}}
                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <a href="/dashboard/create/" class="navbar-item">Create Post</a>
                <button id="logout" class="button is-danger">Logout</button>
                {{else}}
                <a href="/login" class="navbar-item">Login</a>
                {{/if}}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="section">
      {{{ body }}}
    </main>

    <!-- Footer with Background Image -->
    <footer class="footer footer-bg">
      <div class="content has-text-centered">
        <p>
          <a href="/">Homepage</a>
          {{#if loggedIn}}
          <a href="/dashboard/">Dashboard</a>
          <a href="/dashboard/create/">Create New Post</a>
          {{else}}
          <a href="/login/">Login</a>
          {{/if}}
        </p>
        <p>
          <strong>Blog</strong> by <a href="#">Toan92</a>
        </p>
      </div>
    </footer>
  </div>

  <!-- JavaScript -->
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
